@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
html {
  font-size: 62.5%;
}

.container {
  width: 90%;
  margin: 0 auto;
}

main {
  font-size: 1.5rem;
  background-color: hsl(0deg, 100%, 74%);
  background-image: url("../images/bg-intro-mobile.png");
  background-size: cover;
  min-height: 100vh;
  display: grid;
  grid-template-rows: -webkit-max-content -webkit-max-content;
  grid-template-rows: max-content max-content;
  gap: 4em;
  position: relative;
}
main .main__data {
  text-align: center;
  color: #fff;
  font-family: "Poppins", sans-serif;
  max-width: 500px;
  margin: 0 auto;
}
main .main__data h1 {
  font-size: 2.7rem;
  line-height: 1.2;
  padding: 3em 0 1em;
  font-weight: 700;
}
main .main__data p {
  font-weight: 400;
  font-size: 1.5rem;
}
main .main__form {
  font-family: "Poppins", sans-serif;
}
main .main__form .form__try {
  text-align: center;
  font-size: 1.5rem;
  background-color: hsl(248deg, 32%, 49%);
  padding: 1em 2em;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 1.5em;
  border-radius: 10px;
  box-shadow: 0px 7px 0px -1px rgba(0, 0, 0, 0.3);
}
main .main__form .form__try p {
  font-size: 1.5rem;
  color: hsl(246deg, 25%, 77%);
}
main .main__form .form__try p a {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
}
main .main__form form {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  padding: 1.5em;
  margin-bottom: 5em;
}
main .main__form form .form__container {
  position: relative;
  margin-bottom: 1em;
}
main .main__form form .form__container .form-input {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.8em 0.8em 0.5em;
  width: 100%;
  outline: none;
  border: none;
  border: 1px solid hsl(246deg, 25%, 77%);
  border-radius: 5px;
}
main .main__form form .form__container .form-img {
  position: absolute;
  right: 15px;
  top: 12px;
  width: 20px;
  display: none;
}
main .main__form form .form__container .form-img-show {
  display: block;
}
main .main__form form .form__container label {
  display: block;
  text-align: end;
  font-size: 1.1rem;
  padding: 0.2em 0;
  font-style: italic;
  color: hsl(0deg, 100%, 74%);
  font-weight: 500;
  display: none;
}
main .main__form form .form__container .form-label-show {
  display: block;
}
main .main__form form .form-submit {
  width: 100%;
  background-color: rgba(56, 204, 140, 0.9);
  border: none;
  padding: 0.8em;
  border-radius: 5px;
  box-shadow: 0px 5px 0px 0px hsl(154deg, 59%, 51%);
  color: #fff;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0.5em 0 1em;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}
main .main__form form .form-submit:hover {
  background-color: rgba(56, 204, 140, 0.6);
  box-shadow: 0px 5px 0px 0px rgba(56, 204, 140, 0.9);
}
main .main__form form .form-cta {
  font-size: 1.2rem;
  color: hsl(246deg, 25%, 77%);
  font-weight: 400;
  text-align: center;
}
main .main__form form .form-cta a {
  color: hsl(0deg, 100%, 74%);
  font-weight: 600;
  text-decoration: none;
}
main .main__autor {
  position: absolute;
  bottom: 10px;
  right: 20px;
}
main .main__autor p {
  text-align: end;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  color: #fff;
}
main .main__autor p a {
  text-decoration: none;
  color: hsl(248deg, 32%, 49%);
  font-weight: 600;
}

@media screen and (min-width: 500px) {
  main {
    background-image: url("../images/bg-intro-desktop.png");
  }
}
@media screen and (min-width: 800px) {
  main {
    font-size: 1.7rem;
    min-height: 100vh;
    display: grid;
    grid-template-rows: none;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
  }
  main .main__data {
    text-align: start;
    color: #fff;
    font-family: "Poppins", sans-serif;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
  main .main__data h1 {
    font-size: 2.9rem;
    line-height: 1.2;
    padding: 0;
    padding-bottom: 1em;
    font-weight: 700;
  }
  main .main__data p {
    font-weight: 400;
    font-size: 1.7rem;
  }
  main .main__form .form__try {
    font-size: 1.7rem;
  }
  main .main__form .form__try p {
    font-size: 1.7rem;
  }
  main .main__form form {
    margin-bottom: 0;
  }
  main .main__form form .form__container .form-input {
    font-size: 1.7rem;
  }
  main .main__form form .form__container .form-img {
    top: 15px;
  }
  main .main__form form .form__container label {
    font-size: 1.2rem;
  }
  main .main__form form .form-submit {
    font-size: 1.7rem;
  }
  main .main__form form .form-cta {
    font-size: 1.3rem;
  }
}/*# sourceMappingURL=index.css.map */